:root{

--navy:#0B3A67;
--blue:#1D6FB8;
--gold:#D4AF37;
--white:#ffffff;
--background:#F6F8FB;
--text:#1F2937;

}



*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:"Inter", sans-serif;

}



body{

background:var(--background);
color:var(--text);

}



.navbar{

position:fixed;
top:0;
width:100%;

display:flex;
justify-content:space-between;
align-items:center;

padding:20px 8%;

background:white;

box-shadow:0 5px 25px rgba(0,0,0,.08);

z-index:100;

}



.logo{

font-size:28px;
font-weight:800;
color:var(--navy);

}



nav a{

margin:0 15px;

text-decoration:none;

color:var(--text);

font-weight:500;

}



button{

border:none;

padding:15px 30px;

border-radius:30px;

background:var(--gold);

cursor:pointer;

font-weight:600;

}



.hero{

height:100vh;

display:flex;

align-items:center;

padding:0 8%;

color:white;


background:

linear-gradient(
rgba(11,58,103,.8),
rgba(11,58,103,.8)
),

url("../images/school.jpg");


background-size:cover;

background-position:center;

}



.hero-content{

max-width:800px;

}



.welcome{

letter-spacing:4px;

}



.hero h1{

font-size:65px;

margin:20px 0;

}



.hero p{

font-size:20px;

line-height:1.7;

}



.hero-buttons{

margin-top:30px;

}



.outline{

background:transparent;

border:2px solid white;

color:white;

margin-left:15px;

}



section{

padding:80px 8%;

}



h2{

text-align:center;

font-size:40px;

margin-bottom:40px;

}



.card-container{

display:flex;

gap:30px;

}



.card,
.news-card{


background:white;

padding:35px;

border-radius:20px;

flex:1;

box-shadow:0 10px 30px rgba(0,0,0,.08);

transition:.3s;

}



.card:hover,
.news-card:hover{

transform:translateY(-10px);

}



.card a{

color:var(--blue);

text-decoration:none;

}



.values{

text-align:center;

background:white;

}



footer{

background:var(--navy);

color:white;

text-align:center;

padding:50px;

}



footer a{

color:white;

margin:15px;

}



@media(max-width:900px){


nav{

display:none;

}


.card-container{

flex-direction:column;

}


.hero h1{

font-size:42px;

}


}